body {
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: white;
  margin: 0;
  padding: 0;
}
a {
  color: #00bfff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
